@font-face {
    font-family: 'mangabeyregular';
    src: url('fonts/mangabeyregular-rgqvo-webfont.woff2') format('woff2'), url('fonts/mangabeyregular-rgqvo-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    background-color: rgb(223, 255, 205);
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main {
    display: flex;
    flex-direction: column;
    height: 400px;
    justify-content: flex-start;
}

.game-heading {
    font-family: 'mangabeyregular';
    color: rgb(14, 143, 148);
    font-size: 100px;
    padding: 20px;
    margin-bottom: 20px;
    letter-spacing: 3px;
    text-align: center;
}

.main>.player-info {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main>.player-info>label {
    font-size: 30px;
    padding: 10px;
    margin-bottom: 20px;
}

.main>.player-info>input {
    border-radius: 10px;
    width: 250px;
    height: 50px;
    font-size: 25px;
    padding: 10px;
    text-align: center;
}

.main>.player-info>button {
    font-family: sans-serif;
    font-size: 30px;
    background-color: rgb(30, 170, 123);
    color: blanchedalmond;
    padding: 10px;
    margin: 20px 5px;
    border-radius: 15px;
    border: none;
    box-shadow: 10px 10px rgb(238, 205, 155);
    cursor: pointer;
}

.game-area ul>li img:active,
.main>.player-info>button:active {
    box-shadow: 5px 5px rgb(238, 205, 155);
    transform: translateY(4px) translateX(4px);
}

.main>.player-info>button:hover {
    background-color: rgb(210, 235, 235);
    color: black;
}

.game-screen-main {
    width: 100%;
    height: 90vh;
}

.game-area {
    display: none;
    height: 70%;
    flex-direction: column;
}

.game-area .player-area {
    flex: 1;
    justify-content: center;
    display: flex;
}

.game-area ul {
    align-items: center;
    display: flex;
    list-style: none;
    justify-content: center;
    gap: 100px;
}

.game-area ul>li img {
    height: 100px;
    width: 100px;
    background-color: chartreuse;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 10px 10px rgb(238, 205, 155);
    cursor: pointer;
    pointer-events: all;
}

.player-text {
    flex: 0.5;
    text-align: center;
    font-family: sans-serif;
    font-size: 20px;
}

.player-text p:first-child {
    font-size: 50px;
    padding-bottom: 10px;
}